Flask==1.0.2
requests==2.19.1
typing==3.6.6
Flask_Cors==3.0.7
flask_socketio==3.3.2
python-socketio==3.1.2
PyGithub==1.43.7
opencv-python==4.1.0.25
owlready2==0.16
rdflib==4.2.2
pyttsx3
matplotlib==3.0.2
scipy==1.1
scikit-image==0.14.2
mlxtend==0.16.0
ttictoc==0.4.1
celery
tensorflow